body {
  background: linear-gradient(to right, #282829, #1a0a0a);
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', cursive, serif;
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  color: #fff;
  padding: 6.5em;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.3)
    ),
    url("./images/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 27%;
}


.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto ;
  max-width: 60%;
  border-radius: 5px;
  background-color: #2e2e2f;
  color: #000;
  margin-top: -0.5em;
}

.search > input{
  width: 95%;
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
  font-size: 0.8rem;
}

.fi-rr-search{
  padding : 0em 0.2em;
  color: #8B8F91;
}


.search > button{
  color: #fff;
  font-size: 0.8rem;
  padding: 0.6em 0.4em;
  background: #4B4B4B;
  border: none;
  border-radius: 3px;
  cursor: pointer;

}



.content{
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 1440px;
  width: 90%;
  margin: 3em 0em;
  color: #fff;
}	


.movie-card{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

}


.movie-image > img{
  margin-right: .5em;
  width: 10em;
  border-radius: 2.32941px;

}

.movie-info{
  display: flex;
  flex-direction: column;
  border-radius: 2.32941px;
  width: 60%;
  min-width: 15em;
}

.movie-name {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-between;
	
	
}

.movie-type {
	display: flex;
	flex-direction: row;
  align-items: baseline;
	justify-content: space-between;
  flex-wrap: wrap;

}

.movie-description {
	text-align: start;
}

hr{
  margin: 2em 0;
  border: none;
  border-top: 1px solid rgb(56, 56, 56);
  width: 100%;	
}

a {
  color : rgb(207, 207, 207);
  text-decoration: none;
  transition: all .5s ;
  transform: scale(1);
}

  a:hover,a:focus {
   color: rgb(255, 255, 255);
   transform: scale(1.2);

}

.fi-ss-add{
  color: rgb(255, 255, 255);
  font-size : 1rem;
 
}

.btn{
  border: none;
  background-color : transparent;
  font-size: 0.9rem;
  cursor : pointer;
  transition: transform 400ms;
  transform: scale(1)

}

.btn:hover, .btn:focus{
   transform : scale(1.3)
}

.movie-WatchList{
  display: flex;
  flex-direction: row;
}